﻿@using blazor.app.Shared

<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">@(isEditMode ? "Изменить товар" : "Добавить товар")</h5>
                <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Product" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name">Название: </label>
                        <InputText id="name" class="form-control" @bind-Value="@Product.Name" placeholder="Введите название"></InputText>
                        <ValidationMessage For="@(() => Product.Name)" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Описание: </label>
                        <InputText id="Description" class="form-control" @bind-Value="@Product.Description" placeholder="Введите описание"></InputText>
                        <ValidationMessage For="@(() => Product.Description)" />
                    </div>
                    <div class="form-group">
                        <label for="cost">Стоимость: </label>
                        <InputNumber id="cost" class="form-control" @bind-Value="@Product.Cost" placeholder="Введите стоимость"></InputNumber>
                        <ValidationMessage For="@(() => Product.Cost)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-outline-primary" @onclick="@Close">Закрыть</a>
                </EditForm>
            </div>
        </div>
    </div>
</div>
