﻿@using blazor.app.Shared

<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">Добавить товар</h5>
                <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="submit" class="btn btn-primary" @onclick="@Accept">Подтвердить</button>
                <a class="btn btn-outline-primary" @onclick="@Close">Закрыть</a>
            </div>
        </div>
    </div>
</div>
