﻿@using blazor.app.Shared

<h3>Список товаров</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Products)
        {
            <tr>
                <td>
                    <input type="radio" id="addition" name="math" @onchange="eventArgs => {CheckedChanged(product.Id);}" />
                </td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Cost</td>
            </tr>
        }
    </tbody>
</table>

@if (_showDeleteAcceptor)
{
    <Dialog AcceptAction="AcceptDeleteProduct" CloseDialog="CloseModal"></Dialog>
}
@if (_showChangeProduct)
{
    <AddProduct CloseDialog="CloseModal" isEditMode="@true" UpdateProducts="UpdateProductsAction" Product="Products.First(p => p.Id == _selectedProduct.Value)"></AddProduct>
}

<button @onclick="DeleteProduct" disabled="@(!_selectedProduct.HasValue)">Удалить товар</button>
<button @onclick="ChangeProduct" disabled="@(!_selectedProduct.HasValue)">Изменить товар</button>

