﻿@page "/products"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using blazor.app.Client.Components
@using blazor.app.Shared
@attribute [Authorize]
@inject HttpClient Http

<p>Здесь можно увидеть список товаров.</p>
@if (isShowLoader)
{
    <div class="spinner"></div>
}
@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="ChangeShowAdd">Добавить товар</button>
    <ProductList Products="products" UpdateProductsAction="UpdateProducts"></ProductList>
}
@if (isShowAdd)
{
    <AddProduct CloseDialog="ChangeShowAdd" UpdateProducts="UpdateProducts"></AddProduct>
}
